# Don't track content of these folders

Mid-term-project-I/
.ipynb_checkpoints/


# Don't track these files

testing.psql
Untitled.ipynb
modeling.ipynb
.DS_store
.AppleDouble
.LSOverride


# Icon must end with two \r
Icon


# Thumbnails
._*


# Files that might appear in the root of a volume

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent


# Directories potentially created on remote AFP share

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk